<h4>Task Details</h4>

<div class="mt-4">
<h6><%= @task.title %></h6>
<h6><%= @task.details %></h6>
</div>


<div>
  <%= link_to "All Tasks", tasks_list_path %>
</div>

<%= link_to "Edit Task", update_task_path %>

<%= link_to "Delete",
  task_path(@task),
  data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
